root = true

# Apply for all files
[*]
charset = utf-8

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[src/**.ts]
indent_style = tab
indent_size = 2

[*.json]
indent_style = tab
indent_size = 4

[dist/**.js]
indent_style = space
indent_size = 4
